<nav class="navbar navbar-expand navbar-light">
  <div class="nav navbar-nav btn-asistence-title">
      <a class="navbar-brand" routerLink="/index">
        <img src="../../../assets/img/navbar/m-recicla.jpeg" alt="Logo" width="200" height="100" class="d-inline-block align-text-top">
      </a>
      <a class="nav-item btn btn-success" routerLink="/login">Iniciar Sesión</a>
  </div>
</nav>

<div class="container">

  <div class="content_body">
    <div class="content_margin">
      <div class="content_grid_padre">

        <div class="content_grid_h1">

          <div class="title_page">
            <h1>ASEGURA EL ÉXITO DE TU EMPRESA CON M-RECICLA</h1>
          </div>

          <div class="form_data">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
          </div>

          <!-- <div class="registrate">
            <button type="submit" class="btn_int" mat-raised-button style="background: #80a943; color: white;">
              Comenzar
            </button>
          </div> -->

        </div>

        <div class="content_grid_h2"></div>

      </div>
    </div>
  </div>


</div>
