.btn_int {
  background: #80a943;
  color: white;
  width: 150px;
  height: 50px;
  font-size: large;
  margin: 8px;
  border-radius: 5px;
}

.button-container-regresar {
  position: absolute;
  top: 10px;
  right: 10px;
}
.Title{
  color:#151a0d;
  text-align: center;
  font-size: larger;
}
.table-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 1200px;
  margin: 10px; /* Ajusta según sea necesario */
  display: flex;
}
.formula {
  display: flex;
  justify-content: center;
}

.formula-container {
  display: flex;
}

.formula1,
.formula2 {
  margin: 0 10px; /* Espacio entre las dos secciones */
}
