.container {
  display: flex;
  flex-direction: column; /* Apila elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  min-height: 10vh;
  min-width: 70vh;
  max-width: 100vh;
  margin-left: 19%;
}
.btn_int {
  background: #80a943;
  color: white;
  width: 150px;
  height: 50px;
  font-size: large;
  margin: 8px;
  border-radius: 5px;
  text-align: left;
}
.button-container-regresar {
  position: absolute;
  top: 10px;
  right: 10px;
}
.Title{
  color: black;
  text-align: center;
  font-size: larger;
}
.table-container {
  display: flex;
  width: 1200px;
  margin: 10px; /* Ajusta según sea necesario */
  display: flex;
  text-align: center;
  max-height: 450px; /* Establece la altura máxima deseada para que aparezca la barra de desplazamiento */
  overflow-y: auto;
}
.formula {
  display: flex;
  justify-content: center;
}
.formula-container {
  display: flex;
}
.formula1,
.formula2 {
  margin: 0 10px; /* Espacio entre las dos secciones */
}

.button-container {
  margin-bottom: 20px;
  margin: 8px;
  text-align: left;
  border-radius: 5px;
}
