<p>
  <mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <img width="100" src="../assets/img/navbar/m-recicla.jpeg" alt="">
    <span class="example-spacer"></span>
    <!-- <span style="color: #000;">
      Admin
    </span> -->
    <button (click)="editarAdmin();" mat-button class="" style="color:#000;">
      <span style="color: #000;" >
        <a style="color: #000;" >{{nombreUsuario}}</a>
      </span>
    </button>
    <button mat-button class="" style="color:#000;">
      <mat-icon style="color: #000;">logout</mat-icon>
      <span style="color: #000;">
        <a style="color: #000;" (click)="logout()">Cerrar Sesión</a>
      </span>
    </button>
  </mat-toolbar>
</p>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <h4>{{nombreUsuario}}</h4>
    <mat-divider></mat-divider>

    <button mat-button class="menu-boton">
      <mat-icon>home</mat-icon>
      <span><a [routerLink]="['/dashboard/tablero']">Inicio</a></span>
    </button>

    <button mat-button class="menu-boton" *ngIf="usuarioTienePermisoSuper">
      <!-- ngIf nos ayuda a verificar que permisos tiene este usuario de ver esas opciones -->
      <mat-icon>house</mat-icon>
      <span><a [routerLink]="['empresas/empresas']">Empresas</a></span>
    </button>

    <button mat-button class="menu-boton" *ngIf="usuarioTienePermiso">
        <mat-icon>article</mat-icon>
        <span><a [routerLink]="['/dashboard/catalogos']">Catalogos</a></span>
      </button>

    <!-- <button mat-button class="menu-boton" *ngIf="usuarioTienePermiso">
      <mat-icon>inventory</mat-icon>
      <span><a [routerLink]="['inventario/inventarios']">Inventario</a></span>
    </button> -->

    <!-- <button mat-button class="menu-boton" *ngIf="usuarioTienePermiso">
      <mat-icon>people</mat-icon>
      <span><a [routerLink]="['proveedor/proveedores']">Proveedores</a></span>
    </button> -->

    <!-- <button mat-button class="menu-boton" *ngIf="usuarioTienePermiso">
      <mat-icon>person</mat-icon>
      <span><a [routerLink]="['empleado/listEmp']"> Empleado </a></span>
    </button> -->

    <!-- <button mat-button class="menu-boton" *ngIf="usuarioTienePermiso">
      <mat-icon>construction</mat-icon>
      <span><a [routerLink]="['maquinas/maquinas']">Maquinaria</a></span>
    </button> -->

    <!-- <button mat-button class="menu-boton" *ngIf="usuarioTienePermiso">
      <mat-icon>work</mat-icon>
      <span><a [routerLink]="['areas/areas']">Areas</a></span>
    </button> -->

    <!-- <button mat-button class="menu-boton" *ngIf="usuarioTienePermiso">
      <mat-icon>article</mat-icon>
      <span><a [routerLink]="['solicitudes/solicitudes']">Solicitudes</a></span>
    </button> -->

    <!-- <button mat-button class="menu-boton" *ngIf="usuarioTienePermiso">
      <mat-icon>construction</mat-icon>
      <span><a [routerLink]="['produccion/produccionList']">Producción</a></span>
    </button> -->

    <!-- <button mat-button class="menu-boton" *ngIf="usuarioTienePermiso">
      <mat-icon>work</mat-icon>
      <span><a [routerLink]="['control/controlGastosGenerales']">Control Gastos</a></span>
    </button> -->

    <!-- <button mat-button class="menu-boton">
      <mat-icon>alarm</mat-icon>
      <span><a [routerLink]="['produccion-empleado/produccionEmpleado']">Tiempo Prod.</a></span>
    </button> -->

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content">
      <router-outlet>
      </router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
