<H1 class="Title">produccion-list works!</H1>
<div class="button-container">
    <button type="submit" (click)="CrearProduccion();" class="btn_int" mat-raised-button style="background: #80a943; color: white;">
        Crear
    </button>
</div>

<br>
<br>
<div class="table-container">
    <H1 >Tabla de produccion</H1>
    <br>
  <table mat-table class="mat-elevation-z8" let iControl=index>
      <!-- service  Column -->
      <ng-container matColumnDef="idControl">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element">{{ element.idControl }}</td>
      </ng-container>
      
      <!-- service  Column -->
      <ng-container matColumnDef="Concepto">
        <th mat-header-cell *matHeaderCellDef> Concepto </th>
        <td mat-cell *matCellDef="let element">{{ element.Concepto }}</td>
      </ng-container>

      <!-- service  Column -->
      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element">{{ element.Descripcion }}</td>
      </ng-container>

      <!-- service  Column -->
      <ng-container matColumnDef="Periodo">
        <th mat-header-cell *matHeaderCellDef> Periodo </th>
        <td mat-cell *matCellDef="let element">{{ element.Periodo }}</td>
      </ng-container>

      <!-- service  Column -->
      <ng-container matColumnDef="UsuarioCreador">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element">{{ element.UsuarioCreador }}</td>
      </ng-container>

      <!-- product Column -->
      <ng-container matColumnDef="FechaCreacion">
        <th mat-header-cell *matHeaderCellDef> Fecha de Creacion </th>
        <td mat-cell *matCellDef="let element">{{ element.FechaCreacion }}</td>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="UsuarioActualizar">
        <th mat-header-cell *matHeaderCellDef> Actualizacion Por </th>
        <td mat-cell *matCellDef="let element">{{ element.UsuarioActualizar }}</td>
      </ng-container>
      <!-- paymentdate Column -->
      <ng-container matColumnDef="FechaActualizacion">
        <th mat-header-cell *matHeaderCellDef> Fecha de Actualizacion </th>
        <td mat-cell *matCellDef="let element">{{ element.FechaActualizacion }}</td>
      </ng-container>

      <!-- paymentdate Column -->
      <ng-container matColumnDef="Monto">
        <th mat-header-cell *matHeaderCellDef> Monto </th>
        <td mat-cell *matCellDef="let element">{{ element.Monto }}</td>
      </ng-container>


      <ng-container matColumnDef="Tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element">{{ element.Tipo }}</td>
      </ng-container>


      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Accion </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button  style="color:  #80a943;" >Editar</button>
          <button mat-button  style="color:  #fd0000;">Eliminar</button>
        </td>
      </ng-container>
      <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->

      <!-- Row shown when there is no matching data. -->
     <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Ningún dato coincide con: "{{ input.value }}"</td>
      </tr> -->
    </table>
    
</div>
<div class="button-container">
    <button type="submit" (click)="RegresarProduccion();" class="btn_int" mat-raised-button style="background: #80a943; color: white;">
        Regresar
    </button>
</div>

