
<h1 mat-dialog-title style="color: #000000;font-weight: 500;font-size: 48px; margin-left: 250px;">AGREGAR A INVENTARIO</h1>

<div  class="container">
 
  

      

          <form [formGroup]="formularioEditarInventario" (submit)="enviarDatos()">
            

              <mat-form-field class="formula">
                  <!-- <mat-icon >design_services</mat-icon> -->
                  <mat-label  >Seleccione un Tipo de producto</mat-label>
                      <mat-select (selectionChange)="llenardatos($event)" formControlName="idInventarioFabrica" required>
                        
                        <mat-option *ngFor="let PeriodicElement of periodicElements" value="{{PeriodicElement.idInventarioFabrica}}" >{{PeriodicElement.NombreInsumo}}</mat-option>
                        <mat-error *ngIf="this.formularioEditarInventario.get('idInventarioFabrica')?.hasError('required')">
                          Seleccione un tipo de servicio <strong>es requerido</strong>
                      </mat-error>
                      </mat-select>
                 <mat-error>
                   Por favor selecccione un tipo de servicio.
                 </mat-error>
              </mat-form-field>

              <mat-form-field class="formula">
                  <!-- <mat-icon >description</mat-icon> -->
                  <mat-label >peso en inventario</mat-label>
                  <input matInput type="text" placeholder="Peso" formControlName="Peso" >
                  <mat-error *ngIf="this.formularioEditarInventario.get('Peso')?.hasError('required')">
                      La descripción <strong>es requerida</strong>
                  </mat-error>
              </mat-form-field>



              <mat-form-field  class="formula">
                <!-- <mat-icon>cantidad</mat-icon> -->
                <mat-label >peso a agregar</mat-label>
                <input type="cantidad" matInput [formControl]="formCantidad" placeholder="Ingresa Cantidad">
                <mat-error *ngIf="formCantidad.hasError('cantidad') && !formCantidad.hasError('required')">
                  Porfavor Ingrese una cantidad
                </mat-error>
                <mat-error *ngIf="formCantidad.hasError('required')">
                  Es necesario <strong> ingresar una cantidad</strong>
                </mat-error>
            </mat-form-field>
              <!-- <mat-form-field  style="width: 95%;">
                  <mat-icon >monetization_on</mat-icon>
                  <mat-label style="margin-left: 6%;">Costo</mat-label>
                  <input matInput type="text" placeholder="cantidad" formControlName="cantidad" style="margin-left:6%;">
                  <mat-error *ngIf="this.formularioEditarInventario.get('cantidad')?.hasError('required')">
                     Es necesario <strong>agregar el costo</strong>
                  </mat-error>
              </mat-form-field> -->

              <mat-form-field  class="formula">
                <!-- <mat-icon >monetization_on</mat-icon> -->
                <mat-label >fecha de actualización </mat-label>
                <input matInput type="text" placeholder="Fecha" formControlName="Fecha" >
                <mat-error *ngIf="this.formularioEditarInventario.get('Fecha')?.hasError('required')">
                   Es necesario <strong>agregar el costo</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field  class="formula">
              <!-- <mat-icon >monetization_on</mat-icon> -->
              <mat-label >calibre del producto</mat-label>
              <input matInput type="text" placeholder="Calibre" formControlName="Calibre" >
              <mat-error *ngIf="this.formularioEditarInventario.get('Calibre')?.hasError('required')">
                 Es necesario <strong>agregar el costo</strong>
              </mat-error>
          </mat-form-field>

             
              <br>
              <div mat-dialog-actions class="botones">
                <button type="submit" mat-button style="background-color: #d6e44b; margin-left: 2rem;">ACTUALIZAR</button>
                <button  (click)="Cancelar();" mat-button style="background-color: #b60000;  color: white; margin-left: 1rem;">CANCELAR</button>
        
              </div>
          </form>

      </div>


  <br>
 
