<div class="container">
  <div class="cabecera">
    <H1 >AGREGAR A INVENTARIO</H1>
  </div >
    
    
  <form [formGroup]="formularioEditarInventario"(ngSubmit)="enviarDatos()" >
    <div class="formula" style="border:none;" >
      <div class="formula1">

        <label>Nombre Producto</label>
          <mat-form-field>
            <mat-label>Nombre Producto</mat-label>
            <mat-select  id="NombreInsumo" formControlName="NombreInsumo"  
            (selectionChange)="validateDataInventory($event)">
              <mat-option value="0"> </mat-option>
              <mat-option  *ngFor="let producto of productos" [value]="producto.idInventarioFabrica">{{producto.NombreInsumo}}</mat-option>
            </mat-select>
          </mat-form-field>

        <label>Peso</label>
          <mat-form-field class="example-full-width">
            <mat-label>Peso</mat-label>
            <input formControlName="Peso" type="text" id="Peso" matInput>
          </mat-form-field>
          

          <label>FechaCreacion</label>
          <mat-form-field class="example-full-width"  >
            <input  type="text" formControlName="Fecha" matInput>
          </mat-form-field>
      


          <label>Calibre</label>
          <mat-form-field class="example-full-width">
            <mat-label>Calibre</mat-label>
            <input  formControlName="Calibre" matInput >
          </mat-form-field>
        
        </div>
      </div>
      <div class="botones">
        <button type="submit" class="left" mat-button style="background-color: #d6e44b; margin-left: 1rem;">ACTUALIZAR</button>
      <button  (click)="Cancelar();" mat-button style="background-color: #b60000;  color: white; margin-left: 1rem;">CANCELAR</button>

      </div>
      </form>
     
</div>