.Title{
  color: black;
  text-align: center;
  font-size: larger;
}
.btn_int {
  background: #80a943;
  width: 150px;
  height: 50px;
  font-size: large;
  margin: 8px;
  border-radius: 5px;
  margin-left: 600px;
  }
  .example-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye uniformemente los campos */
  }
  /* Estilos para los campos individuales */
.example-form mat-form-field {
  flex: 1; /* Ocupa todo el espacio disponible en el contenedor */
  margin: 10px; /* Agrega espaciado entre los campos */
}
/* Ajusta el tamaño de fuente si es necesario */
.example-form input {
  font-size: 16px;
}
.button-div{
  width: 150px;
  height: 50px;
  font-size: large;
  margin: 8px;
  border-radius: 5px;
  text-align: center;
}
.center-button{
  text-align: center;
}