<body>

  <div class="container vh-100"><!--INICIO DEL 1er CONTAINER-->

    <div class="homePage row justify-content-center h-100"><!--INICIO DEL HOMEPAGE-->

      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-12 col-lg-offset-2 col-lg-12 my-auto"><!--INICIO DEL CONTENIDO-->

        <div class="container col-md-12 col-lg-12 card reset-password"><!--INICIO DEl 2do CONTAINER-->

          <!--Inicio recuperar contraseña -->
          <h1 class="text-center title">Olvidaste tu contraseña </h1>
          <p class="text-center">
          Ingrese su dirección de correo electrónico y le enviaremos un correo electrónico con instrucciones para restablecer su contraseña.
          </p>

          <form class="form-signin panel center-block " role="form">
            <h4 class="form-signin-heading siginsubTitl text-center">Por favor, escribe tu email </h4>
            <input type="email" class="form-control" placeholder="Correo electrónico" required autofocus>
            <button class="btn btn-lg btn-primary btn-block btnRecPass" type="submit">Recuperar contraseña</button>
            <button class="btn-actions btn-back btn-info" routerLink="/login"> Regresar al login </button>
          </form>
          <!--Fin recuperar contraseña -->

        </div> <!--FIN DEl 2do CONTAINER-->

      </div><!--FIN DE CONTENIDO-->

    </div> <!-- FIN DE HOMEPAGE-->

  </div><!--FIN DEl 1er CONTAINER-->

</body>
