
  <div class="conten_inputs">



    <div class="btn-asistence">
      <h1>Proveedores</h1>
      <p>Buscar</p>

      <button type="submit" (click)="crearProveedor();" class="btn_int" mat-raised-button style="background: #80a943; color: white;">
        Crear</button>
    </div>

    <div class="show-mobile">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="usuarios" width="100%" cellspacing="0">
            <tr>
              <th>ID Usuario</th>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Hora de entrada</th>
              <th>Hora de salida</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
