.container {
  display: flex;
  flex-direction: column; /* Apila elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  min-height: 10vh;
  min-width: 70vh;
  max-width: 100vh;
}

.cabecera {
  text-align: center;
  border: 0px solid red;
  margin-bottom: 20px; /* Agrega un espacio entre el título y la tabla */
  margin-left: 2rem;
}

.table {
  text-align: center;
  /* Estilos para la tabla si es necesario */
  border: 1px solid blue;
  width: 999px;
  margin-left: 0rem;
}

.Filter {
  margin-left: 3rem;
}

/* Estilo para los botones BUSCAR y AGREGAR */
.mat-form-field {
  display: flex;
  align-items: center;
}


button.mat-button {
  background-color: #d6e44b;
  margin-left: 10rem; /* Agrega espacio entre los botones */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  min-width: 70vh;
  max-width: 100vh;
}

.cabecera {
  text-align: center;
  border: 0px solid red;
  margin-bottom: 20px;
  margin-left: 2rem;
}

.Filter {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

button.mat-button {
  background-color: #d6e44b;
  margin-left: 10rem;
}
h1{
  font-size: 48px;
}




/* .conten_inputs {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.btn-asistence{
  text-align: left;
  align-items: flex-start;
  justify-content: left;
}

h1{
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 50px;
  padding-bottom: 7px;
  padding-top: 10px;
}

label{
  padding-right: 20px;
}

.search{
  margin-right: 180px;
}

.btn_int {
  background: #80a943;
  color: white;
  width: 300px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
}

.show-mobile {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  font-weight: 300;
  height: 30px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.btn-actions{
  margin: 0 5px;
  width: 100px;
  height: 30px;
  font-size: 20px;
  padding: 0 5px;
  border: 0px;
  color: white;
}

.btn-edit {
  background: #80a943;
}

.btn-delete{
  background: red;
} */


/* TABLET */
/* @media screen and (min-width: 768px) and (max-width: 1023px) {
.select-asistence {
  position: relative;
    bottom: 3em;
    right: -2em;
    width: 200px;
    font-size: 20px;
    padding: 5px 10px;
}
} */

/* MOBILE */
/* @media screen and (max-width: 767px) {
.select-asistence {
  position: relative;
    bottom: 0em;
    right: 2em;
    width: 200px;
    font-size: 20px;
    padding: 5px 10px;
}
.body {
  height: 70%;
  margin: 0 0em;
}
.btn {
  margin: 10px 50px;
  width: 160px;
  height: 50px;
  border-radius: 0px;
  background: #80a943;
  color: black;
}
} */
