.container {
    display: flex;
    flex-direction: column; /* Apila elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    min-height: 10vh;
    min-width: 70vh;
    max-width: 100vh;
  }
  

  

  .cabecera {
    text-align: center;
    border: 0px solid red;
    margin-bottom: 20px; /* Agrega un espacio entre el título y la tabla */
    /* margin-left: 28rem; */
  }

  .table {
    text-align: center;
    width: 1300px;
    padding-right: 13rem;
    max-height: 400px; /* Establece la altura máxima deseada para que aparezca la barra de desplazamiento */ 
  }

  .Filter {
    margin-left: 2rem;
  }

  /* Estilo para los botones BUSCAR y AGREGAR */
  .mat-form-field {
    display: flex;
    align-items: center;
  }

  button.mat-button {
    background-color: #d6e44b;
    margin-left: 1rem; /* Agrega espacio entre los botones */
  }

  .cabecera {
    text-align: center;
    border: 0px solid red;
    margin-bottom: 20px;
    margin-right: 13rem;
  }

  .Filter {
    margin-right: 14rem;
    display: flex;
    align-items: center;
    margin-left: 0rem;
  }

  button.mat-button {
    background-color: #d6e44b;
    margin-left: 1rem;
  }
  h1{
    font-size: 48px;
  }
