.Title{
  color: black;
  text-align: center;
  font-size: larger;
}
.formula1,
.formula2 {
  flex: 1;
  padding: 1rem; /* Añade espacio entre los elementos */
  display: flex;
  flex-direction: column;
  margin: 8px;
  flex-direction: column;
  margin-right: 20px;
}
.formula {
  display: flex;
  width: 58rem;
}
label{
  font-size: 17px;
}
.botones{
  padding-left: 48.5rem;
}
.centrar-columnas{
  display: flex;
  justify-content: center;
}
