<H1 class="Title">REGISTRAR NUEVO GASTO</H1>
<br>
  <div>
    <form class="example-form">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Concepto</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Descripcion</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Periodo</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Fecha de Creacion</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Actualizado por</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Fecha de Actualizacion</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Monto</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Tipo de Gasto</mat-label>
            <mat-select>
             <mat-option value="gastoGeneral">Gasto General</mat-option>
             <mat-option value="gastoMaquinaria">Gasto Maquinaria</mat-option>
            <mat-option value="gastoNomina">Gasto Nómina</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
<div class="center-button">
  <button type="submit" (click)="GuardarGastosGeneralesCrear();" class="button-div" mat-raised-button style="background: #59e154; color: white;">
    Guardar
  </button>
  <button type="submit" (click)="CancelarGastosGeneralesCrear();" class="button-div"mat-raised-button style="background: #dd3030; color: white;">
    Cancelar
  </button>
</div>