<div class="container">
<H1 class="Title">REGISTRAR NUEVO GASTO</H1>
<br>
  <div class="centrar-columnas">
    <form [formGroup]="formularioGastos" (ngSubmit)="enviarDatos()">
      <div class="formula">
        <div class="formula1">
          <label>Concepto</label>
            <mat-form-field >
              <mat-label>Concepto</mat-label>
                <input placeholder="Ej. Luz" formControlName="Concepto" matInput >
            </mat-form-field>

              <label>Descripcion</label>
                <mat-form-field>
                  <mat-label>Descripcion</mat-label>
                    <input placeholder="Ej. Pago de Servicio" formControlName="Descripcion" matInput >
                </mat-form-field>

                <label>Periodo</label>
                  <mat-form-field>
                    <mat-label>Periodo</mat-label>
                      <input placeholder="Ej. Enero - Febrero" formControlName="Periodo" matInput>
                  </mat-form-field>



        </div>
        <div class="formula2">


              <label>Monto</label>
                <mat-form-field>
                  <mat-label>Monto</mat-label>
                    <input placeholder="2500" formControlName="Monto" matInput>
                    <mat-error *ngIf="formularioGastos.get('Monto')?.hasError('required')">
                      El monto del gasto es obligatorio.
                    </mat-error>
                </mat-form-field>

                <label>Tipo de Gasto</label>
                  <mat-form-field>
                    <mat-label>Tipo de Gasto</mat-label>
                      <mat-select formControlName="Tipo">
                        <mat-option value="0"> </mat-option>
                        <mat-option value="Gasto General">Gasto General</mat-option>
                        <mat-option value="Gasto Maquinaria">Gasto Maquinaria</mat-option>
                        <mat-option value="Gasto Nomina">Gasto Nomina</mat-option>
                        <mat-option value="Gasto Materia Prima">Gasto Materia Prima</mat-option>
                        <mat-option value="Gasto Servicios">Gasto Servicios</mat-option>
                        <mat-option value="Gasto Viaticos">Gasto Viaticos </mat-option>
                      </mat-select>
                  </mat-form-field>
        </div>
      </div>
      <div class="botones">
        <button type="submit" mat-button style="background-color: #d6e44b; margin-left: 1rem;">AGREGAR</button>
        <button type="button" (click)="mostrarDialogDeConfirmacion3();" mat-button style="background-color: #b60000;  color: white; margin-left: 1rem;">CANCELAR</button>
      </div>
    </form>
  </div>
</div>
