<div class="container">
  <div class="cabecera">
    <h1>Registros de Tiempos de producción</h1>
  </div>
  <br>
  <div class="filter"  >
    <!-- <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej.Jeronimo" #input>
    </mat-form-field> -->

    <button  (click)="crearRegistro();" mat-button style="background-color: #d6e44b; margin-left: 1rem; width: 250px">AGREGAR NUEVO REGISTRO</button>

  </div>

  <div class="table">
    <table style="width: 800px;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="idProduccionArea">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element">{{ element.idProduccionArea }}</td>
      </ng-container>

      <ng-container matColumnDef="idEmpleado">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element">{{ obtenerNombreUsuario(element.idEmpleado) }}</td>
      </ng-container>

        <ng-container matColumnDef="FechaInicio">
          <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
          <td mat-cell *matCellDef="let element">{{ element.FechaInicio }}</td>
        </ng-container>

        <ng-container matColumnDef="FechaFin">
          <th mat-header-cell *matHeaderCellDef> Fecha Final </th>
          <td mat-cell *matCellDef="let element">{{ element.FechaFin }}</td>
        </ng-container>

        <ng-container matColumnDef="HoraInicio">
          <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
          <td mat-cell *matCellDef="let element">{{ element.HoraInicio }}</td>
        </ng-container>

        <ng-container matColumnDef="HoraFin">
          <th mat-header-cell *matHeaderCellDef> Hora Final </th>
          <td mat-cell *matCellDef="let element">{{ element.HoraFin }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="NombreInsumo">
          <th mat-header-cell *matHeaderCellDef> Insumo </th>
          <td mat-cell *matCellDef="let element">{{ element.NombreInsumo }}</td>
        </ng-container> -->

        <ng-container matColumnDef="idInventarioFabrica">
          <th mat-header-cell *matHeaderCellDef> Insumo </th>
          <td mat-cell *matCellDef="let element">{{ obtenerNombreInsumo(element.idInventarioFabrica) }}</td>
        </ng-container>

        <ng-container matColumnDef="UnidadesInsumo">
          <th mat-header-cell *matHeaderCellDef> Unidades Insumo </th>
          <td mat-cell *matCellDef="let element">{{ element.UnidadesInsumo }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="productoProduccion">
          <th mat-header-cell *matHeaderCellDef> Producto de Producción </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container> -->

        <ng-container matColumnDef="KgProduccion">
          <th mat-header-cell *matHeaderCellDef> Kg Producción </th>
          <td mat-cell *matCellDef="let element">{{ element.KgProduccion }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Accion</th>
          <td mat-cell *matCellDef="let element">
            <!-- <button class="btn-details" mat-button routerLink="/dashboard/produccion-empleado/produccionEmpleadoDetails/{{ element.idProduccionArea}}">Ver Detalles</button> -->
            <button class="btn-details" mat-button routerLink="/dashboard/produccion-empleado/produccionEmpleadoDetails/{{ element.idProduccionArea }}">Ver Detalles</button>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Ningún dato coincide con: "{{ input.value }}"</td>
        </tr> -->
      </table>
</div>

</div>
