.container {
  display: flex;
  flex-direction: column; /* Apila elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  min-height: 10vh;
  min-width: 70vh;
  max-width: 100vh;
}
h1{
  font-size: 48px;
  line-height: 50px;
}
.cabecera {
  text-align: center;
  border: 0px solid red;
  margin-bottom: 20px;
  margin-left: 0rem;
  margin-right: 10rem;
}
.table {
  text-align: center;
  width: 1000px;
  margin-right: 10rem;
  max-height: 450px;
  max-width: 1350px;
  overflow-y: auto;
  box-shadow: 10px 5-px 20px rgba(0, 0, 0, 0.2);
}
.Filter {
  display: flex;
  align-items: center;
  margin-right: 13rem;
  margin-left: 4rem;
}
.mat-form-field {
  display: flex;
  align-items: center;
}
button.mat-button {
  background-color: #d6e44b;
  margin-left: 1rem;
}
.button-container {
  margin-bottom: 20px;
  margin: 8px;
  text-align: left;
  border-radius: 5px;
}
.btn_int {
  background: #80a943;
  color: white;
  width: 150px;
  height: 50px;
  font-size: large;
  margin: 8px;
  border-radius: 5px;
}

.agregar {
  background-color: #d6e44b;
  color: white;
  width: 160px;
  margin-left: 1rem;
}

.exportar {
  background: #d6e44b;
  color: black;
  width: 170px;
  margin: 8px;
  border-radius: 5px;
  font-size: 14px;
}
