<div class="container">
  <div class="cabecera">
    <H1 >EDITAR PRODUCTO</H1>
  </div >
    
    
  <form [formGroup]="formularioEditarInventario"(ngSubmit)="enviarDatosActualizar()" >
    <div class="formula" style="border:none;" >
      <div class="formula1">
        

        <label>Nombre del producto</label>
        <mat-form-field class="derecha">
          <mat-label>Producto</mat-label>
          <input formControlName="Producto" matInput>
        </mat-form-field>

        <label>Peso</label>
          <mat-form-field class="example-full-width">
            <mat-label>Peso</mat-label>
            <input formControlName="Peso" matInput>
          </mat-form-field>
          <label>Image</label>
          <button class="img_update" mat-raised-button (click)="openBottomSheet()">Open file</button>
        </div>

        <div class="formula2">
          <label>Dimensiones</label>
          <mat-form-field class="example-full-width">
            
            <mat-label>Dimensiones </mat-label>
            <input formControlName="Dimensiones" matInput>
          </mat-form-field>

          <label>FechaCreacion</label>
          <mat-form-field class="example-full-width">
            <mat-label>FechaCreacion</mat-label>
            <input formControlName="FechaCreacion" matInput>
          </mat-form-field>
        

          <label>Area Designada</label>
          <mat-form-field class="example-full-width">
            <mat-label>Area Designada</mat-label>
            <input formControlName="AreasDesignadas" matInput>
          </mat-form-field>

          <label>Porcentaje</label>
          <mat-form-field class="example-full-width">
            <mat-label>Porcentaje</mat-label>
            <input formControlName="Porcentaje" matInput>
          </mat-form-field>

          <label>Calibre</label>
          <mat-form-field class="example-full-width">
            <mat-label>Calibre</mat-label>
            <input formControlName="Clibre" matInput>
          </mat-form-field>
        
        </div>
      </div>
        <div class="center-button">
          <button type="submit" mat-button class="button-guardar" mat-raised-button style="background: #59e154; color: white;">
            Guardar
          </button>
          <button (click)="Cancelar();" mat-button class="button-div"mat-raised-button style="background: #dd3030; color: white;">
            Cancelar
          </button>
        </div>
      </form>
</div>