<!-- <h1 mat-dialog-title>¿Estas seguro de eliminar el registro?</h1>
<div class="content" mat-dialog-content>
  <img width="100px" src="https://static.vecteezy.com/system/resources/previews/017/178/327/non_2x/warning-hazard-sign-on-transparent-background-free-png.png" alt="">
  <p>Si lo haces, no podras revertir los cambios</p>
</div>
<div class="actions" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">CANCELAR</button>
  <button mat-button [mat-dialog-close]="true">ACEPTAR</button>
</div> -->
