h1{
  text-align: center;
  padding: 10px 0;
}

.content{
  text-align: center;
  justify-content: center;
}

p{
  text-align: center;
  padding: 10px 0;
}

.actions{
  text-align: center;
  justify-content: center;
  padding: 10px 0;
}
