.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 19vh;
}

#message {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin: 6px;
}

#yesButton, #noButton {

  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
#yesButton{
  background-color: #d6e44b;
}
#noButton{
  background-color: #ff0000;
}

#yesButton:hover, #noButton:hover {
  background-color: #80a943;
}
.icon-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0; /* Eliminamos el margen superior anterior */
  margin-top: 21px; /* Establecemos el nuevo margen superior deseado */
  font-size: 20px; /* Aumentamos el tamaño de fuente */
}

/* Resto de tus estilos */
