<H1 class="Title">produccion-create works!</H1>
<br>
  <div class="centrar-columnas">
    <form >
      <div class="formula">
        <div class="formula1">
          <label>Concepto</label>
            <mat-form-field >
              <mat-label>Concepto</mat-label>
                <input placeholder="Ej. Luz"  matInput >
            </mat-form-field>
          
              <label>Descripcion</label>
                <mat-form-field>
                  <mat-label>Descripcion</mat-label>
                    <input placeholder="Ej. Pago de Servicio" matInput >
                </mat-form-field>

                <label>Periodo</label>
                  <mat-form-field>
                    <mat-label>Periodo</mat-label>
                      <input placeholder="Ej. Enero - Febrero"  matInput>
                  </mat-form-field>

                  

        </div>
        <div class="formula2">
          

              <label>Monto</label>
                <mat-form-field>
                  <mat-label>Monto</mat-label>
                    <input placeholder="2500"  matInput>
                </mat-form-field>
          
        </div>
      </div>
      
    </form>
  </div>
