.container {
  display: flex;
  flex-direction: column; /* Apila elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  min-height: 10vh;
  min-width: 70vh;
  max-width: 100vh;

  margin-left: 18%;

}

.cabecera {
  text-align: center;
  border: 0px solid red;
  margin-bottom: 20px; /* Agrega un espacio entre el título y la tabla */
  /* margin-left: 28rem; */
}

.table {
  text-align: center;
  /* Estilos para la tabla si es necesario */
  border: 1px solid blue;
  width: 999px;
  /* margin-left: 28rem; */
}

.Filter {
  margin-left: 3rem;
}

/* Estilo para los botones BUSCAR y AGREGAR */
.mat-form-field {
  display: flex;
  align-items: center;
}

button.mat-button {
  background-color: #d6e44b;
  margin-left: 1rem; /* Agrega espacio entre los botones */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  min-width: 70vh;
  max-width: 100vh;
}

.cabecera {
  text-align: center;
  border: 0px solid red;
  margin-bottom: 20px;
  /* margin-left: 28rem; */
  width: 80REM;
}

.Filter {
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

button.mat-button {
  background-color: #d6e44b;
  margin-left: 1rem;
}
h1{
  font-size: 48px;
}


.formula {
  display: flex;
  border: 15px solid red;
  /* margin-left: 27rem; */
  width: 58rem;
}

.formula1,
.formula2 {
  flex: 1;
  padding: 1rem; /* Añade espacio entre los elementos */
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  margin: 1rem 0;
  flex: 1; /* Hace que los campos de entrada ocupen el espacio disponible */
}

.mat-label {
  margin-bottom: 0.5rem;
  width: 80%; /* Ancho al 100% del contenedor */
  box-sizing: border-box; /* Incluye el padding en el ancho */
  font-size: 14px;
}

label{
  font-size: 17px;
}

.btn-acep {
  background-color: #d6e44b;
  margin-left: 1rem;
}

.btn-canc {
  background-color: #b60000;
  color: white;
  margin-left: 1rem;
}

/* SEPARACION DE LOS ESTILOS DE ANTES */

/* .conten_inputs {
  align-items:flex-start;
  text-align: left;
  justify-content: center;
}

.btn-asistence{
  text-align: left;
  align-items: flex-start;
  justify-content: left;
}

h1{
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 50px;
  padding-bottom: 7px;
  padding-top: 10px;
}

.row{
  width: 99%;
}

label {
  font-size: 20px;
}

input{
  width: 500px;
}

select {
  width: 500px;
}

.btn{
  margin-top: 50px;
  width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 10px;
}

.btn-primary{
  margin-right: 50px;
} */
