<div class="container">

  <div class="cabecera">
    <h1>REGISTRAR NUEVO PROVEEDOR</h1>
  </div>

  <form ngNativeValidate [formGroup]="formularioProveedor" (ngSubmit)="enviarDatos()">
    <div class="formula" style="border:none;" >

      <div class="formula1">

        <label>Nombre completo</label>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input required min="1" type="text" name="" formControlName="NombreProveedor" matInput>
          <mat-error *ngIf="formularioProveedor.get('NombreProveedor')?.hasError('required')">
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>

        <label>Dirección</label>
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input required type="text" formControlName="DireccionProveedor" matInput>
        </mat-form-field>

        <label>Teléfono</label>
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input required type="number" formControlName="Telefono" matInput>
        </mat-form-field>

        <label>Correo</label>
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input required type="email" formControlName="Correo" matInput>
        </mat-form-field>

      </div>

      <div class="formula2">

        <label>Producto</label>
        <mat-form-field>
          <mat-label>Producto</mat-label>
          <mat-select required formControlName="ProductoProveedor">
            <mat-option value="0"> </mat-option>
            <mat-option value="Hilo">Hilo Importado</mat-option>
            <mat-option value="Tela">Tela reciclada</mat-option>
            <mat-option value="Borra">Borra</mat-option>
          </mat-select>
        </mat-form-field>

        <label>RFC</label>
        <mat-form-field>
            <mat-label>RFC</mat-label>
            <input required type="text" formControlName="RFCProveedor" matInput>
        </mat-form-field>

        <label>Descripción</label>
        <mat-form-field>
          <mat-label>Descripción</mat-label>
          <input required type="text" formControlName="DescripcionProveedor" matInput>
        </mat-form-field>

      </div>

    </div>

    <div class="botones" role="group">
      <button type="submit" class="btn-acep" mat-button>AGREGAR</button>
      <button type="button" (click)="CANCELAR();" class="btn-canc" mat-button>CANCELAR</button>
    </div>

  </form>
</div>


<!-- SEPARACION DE LA MAQUETACION -->

<!-- <div class="conten_inputs">

  <div class="btn-asistence">
    <h1>NUEVO PROVEEDOR</h1>
  </div>

        <form ngNativeValidate [formGroup]="formularioDeProveedores" (ngSubmit)="enviarDatos()" class="row g-3">

          <div class="col-md-6">
            <label for="" class="form-label">Nombre</label>
            <input required type="text"
              class="form-control" name="" formControlName="name_proveedor" id="" placeholder="Escribe el nombre">
          </div>

          <div class="col-md-6">
            <label for="" class="form-label">Producto</label>
            <select required id="" class="form-select" formControlName="producto_proveedor">
              <option selected>Selecciona un producto</option>
              <option value="Hilo">Hilo Importado</option>
              <option value="Tela">Tela reciclada</option>
              <option value="Borra">Borra</option>
            </select>
          </div>

          <div class="col-md-6">
            <label for="" class="form-label">Dirección</label>
            <input required type="text"
              class="form-control" name="" formControlName="direccion_proveedor" id="" placeholder="Escribe la dirección">
          </div>

          <div class="col-md-6 ">
            <label for="" class="form-label">RFC</label>
            <input required type="text"
              class="form-control" name="" formControlName="rfc_proveedor" id="" placeholder="Escribe la RFC">
          </div>

          <div class="col-6">
            <label for="" class="form-label">Descripción</label>
            <input required type="text"
              class="form-control" name="" formControlName="description_proveedor" id="" placeholder="Escribe la descripción">
          </div>

          <div class="col-12 btn-group" role="group" aria-label="">
            <button type="submit" class="btn btn-primary">GUARDAR</button>
            <button type="button" (click)="proveedores();"  class="btn btn-danger">CANCELAR</button>

          </div>
        </form>

</div> -->
