<div class="pagina">
  <!-- Cabecera con título -->
  <header class="cabecera">
      <h1>Listado de usuarios</h1>
  </header>
  
  <!-- Sección de búsqueda -->
  <section class="busqueda">
    <h2>Buscar empleado</h2>

    <!-- Formulario de búsqueda -->
    <form class="formulario-busqueda">
      <!-- Campos de búsqueda -->
      <div class="campos">

       <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Ex. Juan" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Fecha de ingreso </mat-label>
    <input matInput placeholder="Ex. DD/MM/AA" value="">
  </mat-form-field>
        
  <mat-form-field class="example-full-width">
    <mat-label>Nombre de usuario</mat-label>
    <input matInput placeholder="Ex. Yeilan" value="">
  </mat-form-field>
        
  <mat-form-field class="example-full-width">
    <mat-label>Area</mat-label>
    <input matInput placeholder="Ex. Produccion de tela" value="">
  </mat-form-field>
      
  <mat-form-field class="example-full-width">
    <mat-label>Puesto</mat-label>
    <input matInput placeholder="Ex. Supervisor" value="">
  </mat-form-field>
      </div>

      <!-- Botones -->
      <div class="botones">
        <button mat-button style="background-color: #d6e44b; margin-left: 5rem; color: white;">BUSCAR</button>
                
        <button mat-raised-button class="btn-editar">Editar</button>
          <button mat-raised-button class="btn-eliminar">Eliminar</button>
      </div>
    </form>
  </section>
</div>

