<div class="container">
    <div class="cabecera">
        <h1>EDITAR ÁREA</h1>
    </div>
        <br>
            <div class="formula" style="border: 1px solid red;" >
                <div class="formula1">
                <label>Nombre de Área</label>
                <mat-form-field>
                    <mat-label>Nombre de Área</mat-label>
                    <input matInput>
                </mat-form-field>
                <label>Descripción de Área</label>
                <mat-form-field>
                    <mat-label>Descripción de Área</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <label>Estado de Área</label>
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select>
                        <mat-option value="0"> </mat-option>
                    <mat-option value="one">Activo</mat-option>
                    <mat-option value="two">Inactivo</mat-option>
                    <mat-option value="tres">Mantenimiento</mat-option>
                    </mat-select>
                </mat-form-field>
               
                </div>
            </div>
            <div class="botones">
                <button  (click)="AGREGAR();" mat-button style="background-color: #d6e44b; margin-left: 1rem;">AGREGAR</button>
        <button  (click)="CANCELAR();" mat-button style="background-color: #b60000;  color: white; margin-left: 1rem;">CANCELAR</button>
        
    </div>
</div>

