<div class="container">

  <div class="cabecera">
    <h1>EDITAR PROVEEDOR</h1>
  </div>

  <form [formGroup]="formularioProveedorEdit" (ngSubmit)="enviarDatos()">
    <div class="formula" style="border:none;" >

      <div class="formula1">

        <label>Nombre completo</label>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input required min="1" type="text" formControlName="NombreProveedor" matInput>
          <mat-error *ngIf="formularioProveedorEdit.get('NombreProveedor')?.hasError('required')">
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>

        <label>Dirección</label>
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input required type="text" formControlName="DireccionProveedor" matInput>
        </mat-form-field>

        <label>Teléfono</label>
        <mat-form-field>
          <mat-label>Teléfono</mat-label>
          <input required type="number" formControlName="Telefono" matInput>
        </mat-form-field>

        <label>Correo</label>
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input required type="email" formControlName="Correo" matInput>
        </mat-form-field>

      </div>

      <div class="formula2">

        <label>Producto</label>
        <mat-form-field>
          <mat-label>Producto</mat-label>
          <mat-select required formControlName="ProductoProveedor">
            <mat-option value="0"> </mat-option>
            <mat-option value="Hilo">Hilo Importado</mat-option>
            <mat-option value="Tela">Tela reciclada</mat-option>
            <mat-option value="Borra">Borra</mat-option>
          </mat-select>
        </mat-form-field>

        <label>RFC</label>
        <mat-form-field>
            <mat-label>RFC</mat-label>
            <input required type="text" formControlName="RFCProveedor" matInput>
        </mat-form-field>

        <label>Descripción</label>
        <mat-form-field>
          <mat-label>Descripción</mat-label>
          <input required type="text" formControlName="DescripcionProveedor" matInput>
        </mat-form-field>

        <label>Estatus</label>
        <mat-form-field>
            <mat-label>Estatus</mat-label>
            <mat-select required formControlName="EstatusProveedor">
              <mat-option value="0"> </mat-option>
              <mat-option value="Activo">Activo</mat-option>
              <mat-option value="Inactivo">Inactivo</mat-option>
            </mat-select>
        </mat-form-field>

      </div>
    </div>

    <div class="botones">
      <button type="submit" mat-button style="background-color: #d6e44b; margin-left: 1rem;">ACTUALIZAR</button>
      <button (click)="CANCELAR();" type="button" mat-button style="background-color: #b60000;  color: white; margin-left: 1rem;">CANCELAR</button>
    </div>
  </form>
</div>
