.body {
  margin: 0;
  position: relative;
  padding-bottom: 139px;
  min-height: 100vh;
}

.content_grid_padre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.content_grid_h2 {
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/img/navbar/m-recicla.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #80a943;
}

.content_grid_h1 {
  margin: auto;
}

.title_page{
  text-align: center;
}

h1{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}

input{
  width: 350px;
  height: 40px;
}

.txt_a{
  text-align: right;
  margin-bottom: 50px;
}

strong {
  color: #80a943;
  font-size: large;
}

.txt_a {
  text-decoration: underline;
}

.btn_int {
  background: #80a943;
  color: white;
  width: 350px;
  height: 50px;
  font-size: larger;
}

.registrate {
  padding: 40px 0;
  text-align: center;
  align-content: center;
}

.txt_link {
  cursor: pointer;
}


mat-sidenav-container {
  height: calc(100vh - 65px);
}

.content{
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  /* padding-left: 32px;
  padding-top: 20px; */
  display: flex;
  font-size:  2rem;
  color: #000;
}
