<div class="container">

  <div class="cabecera">
    <h1>Registrar tiempo para producción</h1>
  </div>

<div class="centrar-columnas">
    <form ngNativeValidate [formGroup]="formularioProduccionArea" (ngSubmit)="enviarDatos()">
      <div class="formula">
        <div class="formula1">

          <label>Fecha de Inicio</label>
          <mat-form-field>
            <input required min="1" type="date" name="" formControlName="FechaInicio" matInput>
          </mat-form-field>

          <label>Fecha de Finalización</label>
          <mat-form-field>
            <input required type="date" formControlName="FechaFin" matInput>
          </mat-form-field>

          <label>Hora de Inicio</label>
          <mat-form-field>
            <input required type="time" formControlName="HoraInicio" matInput>
          </mat-form-field>

          <label>Hora de Finalización</label>
          <mat-form-field>
            <input required type="time" formControlName="HoraFin" matInput>
          </mat-form-field>

          <label>Turno</label>
          <mat-form-field>
            <mat-label>Turno</mat-label>
            <mat-select required formControlName="Turno" >
              <mat-option value="0"> </mat-option>
              <mat-option value="Matutino">Matutino</mat-option>
              <mat-option value="Vespertino">Vespertino</mat-option>
              <mat-option value="Nocturno">Nocturno</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="formula2">

          <label>Unidades de Insumo Inicial (pz)</label>
          <mat-form-field>
            <mat-label>1</mat-label>
            <input required type="number" formControlName="UnidadesInsumo" matInput>
          </mat-form-field>

          <label>Kg Totales de produccion</label>
          <mat-form-field>
            <mat-label>20</mat-label>
            <input required type="number" step="0.01" formControlName="KgProduccion" matInput>
          </mat-form-field>

          <label>Maquina</label>
          <mat-form-field>
            <mat-label>Maquina</mat-label>
            <mat-select formControlName="idMaquinaria">
              <mat-option value="0"> </mat-option>
              <mat-option *ngFor="let maquinaria of maquinarias" [value]="maquinaria.idMaquinaria">{{ maquinaria.Modelo }}</mat-option>
            </mat-select>
          </mat-form-field>

          <label>Area</label>
          <mat-form-field>
            <mat-label>Area</mat-label>
            <mat-select formControlName="idArea">
              <mat-option value="0"> </mat-option>
              <mat-option *ngFor="let area of areas" [value]="area.idArea">{{ area.NombreArea }}</mat-option>
            </mat-select>
          </mat-form-field>

          <label>Empleado</label>
          <mat-form-field>
            <mat-label>Nombre Empleado</mat-label>
            <input disabled="" type="text" matInput value="{{usuarioNombre}}">
          </mat-form-field>

        </div>
      </div>

      <div class="botones" role="group">
        <button type="submit" class="btn-acep" mat-button>REGISTRAR</button>
        <button type="button" (click)="cancelar()" class="btn-canc" mat-button>CANCELAR</button>
      </div>

    </form>
  </div>

</div>
